[Unit]
Description=PiBridge carrier check (piright)
Documentation=man:pibridge-shutdown(8)
After=dhcpcd.service

[Service]
ExecStart=/usr/sbin/pibridge-shutdown piright
