# SPDX-License-Identifier: GPL-2.0-or-later
#
# SPDX-FileCopyrightText: 2022-2022 KUNBUS GmbH

[Unit]
Description=Disable HDMI
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tvservice -o
