# SPDX-License-Identifier: GPL-2.0-or-later
#
# SPDX-FileCopyrightText: 2021-2022 KUNBUS GmbH

[Unit]
Description=PiBridge carrier check (pileft)
Documentation=man:pibridge-shutdown(8)
After=dhcpcd.service

[Service]
ExecStart=/usr/sbin/pibridge-shutdown pileft
