Source: revpi-tools
Section: electronics
Priority: optional
Maintainer: KUNBUS GmbH <support@kunbus.com>
Rules-Requires-Root: binary-targets
Homepage: https://revolutionpi.com/
Vcs-Browser: https://gitlab.com/revolutionpi/revpi-tools
Vcs-Git: https://gitlab.com/revolutionpi/revpi-tools.git -b debian/trixie
Build-Depends:
  cmake,
  debhelper-compat (= 13),
  dh-python,
  libftdi1-dev,
  pkgconf,
  python3-all,
  scdoc,
  systemd-dev,
  xxd
Standards-Version: 4.7.2

Package: revpi-tools
Architecture: any
Multi-Arch: foreign
Depends:
  cloud-guest-utils,
  e2fsprogs,
  ethtool,
  iproute2,
  raspi-utils-dt,
  piserial (>= 3.0.0),
  python3-ftdi1,
  sudo,
  whiptail,
  ${misc:Depends},
  ${python3:Depends},
  ${shlibs:Depends}
Suggests:
  revpi-sos-report,
  avahi-daemon,
  dphys-swapfile,
Replaces: revpi-webstatus (<< 1:2.1.0)
Breaks:
  piserial (<< 3.0.0),
  revpi-webstatus (<< 1:2.1.0),
  revpi-base-files (<< 3.0.0),
  revpi-modbus-client (<< 2.0.0),
  revpi-modbus-server (<< 2.0.0),
Description: Revolution Pi tools
 Assorted tools and support files for Revolution Pi products:
 .
  * scripts to enable/disable the relay watchdog on the RevPi Connect
  * revpi-factory-reset is used to initialize a RevPi during initial operation
 .
 Revolution Pi is a set of IoT products based on the Raspberry Pi and
 geared towards industrial usage.
