# SPDX-FileCopyrightText: 2023 KUNBUS GmbH
#
# SPDX-License-Identifier: MIT

<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">%h</name>

    <service protocol="any">
        <type>_ssh._tcp</type>
        <port>22</port>
	<txt-record>kind=revpi</txt-record>
    </service>

</service-group>
