# SPDX-License-Identifier: GPL-2.0-or-later
#
# SPDX-FileCopyrightText: 2023-2024 KUNBUS GmbH

[Unit]
Description=RevPi First Boot Wizard
DefaultDependencies=no
Conflicts=reboot.target shutdown.target
After=local-fs.target
Requires=local-fs.target
Before=sysinit.target
ConditionPathIsReadWrite=/etc
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPost=/usr/bin/systemd-machine-id-setup

# Expand filesystem to all available space of eMMC
ExecStart=/usr/share/revpi/firstboot/resize-fs.sh

# Generate SSH host keys
ExecStart=/usr/share/revpi/firstboot/create-ssh-host-keys.sh

[Install]
WantedBy=sysinit.target
