# SPDX-License-Identifier: GPL-2.0-or-later
#
# SPDX-FileCopyrightText: 2023 KUNBUS GmbH

[Unit]
Description=First Boot Wizard
DefaultDependencies=no
Conflicts=reboot.target shutdown.target
After=systemd-remount-fs.service
Before=reboot.target shutdown.target
ConditionPathIsReadWrite=/etc
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPost=/usr/bin/systemd-machine-id-setup
ExecStart=/usr/share/revpi/firstboot/resize-fs.sh

[Install]
WantedBy=sysinit.target
